#
# Readline dotfile
# ~/.inputrc
# Name: nil
#

set editing-mode vi
set keymap vi

$if mode=vi
    # Normal mode.
    set keymap vi-command
    "gg": beginning-of-line
    "G": end-of-line
    # Insert mode.
    set keymap vi-insert
    "\C-n": next-history
    "\C-e": previous-history
    "\C-l": clear-screen
$endif

