#
# Readline dotfile
# ~/.inputrc
# Name: nil
#

set editing-mode vi
set keymap vi

$if mode=vi
    # Normal mode.
    set keymap vi-command
    "gg": beginning-of-line
    "G": end-of-line
    # Insert mode.
    set keymap vi-insert
    "\C-a": beginning-of-line
    "\C-e": end-of-line
    "\C-j": next-history
    "\C-k": previous-history
    "\C-l": clear-screen
$endif

