#
# rTorrent dotfile
# ~/.rtorrent.rc
# Name: nil
#

# To-DO:
# Ability to set file priorities under subfiles.
# Ability to queue up/down torrents.
# Setup max global downloads.
# Deletion of torrents in interface not working (^D does nothing).
#   Currently working around this by deleting manually.
# Auto-set different ratios on BakaBT downloads.
#   Maybe by downloading them all into a different watch directory and changing ratios accordingly? Would have wished for a tracker solution.

# Wishlist:
# Easier way to see/change download directory than ^X, print=$d.get_custom1= and d.set_custom1=.
# Ability to clear console messages (e.g. polling stuff/errors) manually rather than only automatic timeouts.
# Native vi(m) keybindings, e.g., hjkl, gg/G (some patches exist, but minimal support)
# Customizable colors (some patches exist, but minimal support)
# Change interface columns (#, name, size, progress gui (current status, % completed), down speed, up speed, ETA, Seeders, Peers)
# Native notification system a la applet/widgets, not just mail.

# Some notes on the watch directories. {{{
# * You need to escape special characters with \, and a space with \\.
# * Having tried both, apparently [ and \[ both work for a real bracket character.
# * To have spaces in the d.set_custom1 directory, you need to quote the filepath, and escape both the quotes
# and the spaces, e.g., "load_start=/watch/dir/*.torrent,d.set_custom1=\"/dir/with\\ spaces\"".
# * To manually use d.set_custom1 in the client, you require only "\ " instead of "\\ ".
# * If the file path doesn't exist (e.g. Ext HD not mounted) during torrent startup, then
# it will error and not move until you manually start the torrent (and optionally d.set_custom1 again),
# since it can't d.set_custom1. If the file path doesn't exist when the torrent finishes, it will
# error but keep the finished files in the incomplete folder. }}}

# Refer to the wiki for explanation of options.
#########################################################
# Performance
#########################################################

#check_hash = no
#max_uploads = 10
#max_uploads_global =
#max_downloads_global =
download_rate = 0
upload_rate = 0
ratio.enable=
ratio.min.set=0
ratio.max.set=0

#########################################################
# File Paths and Schedules
#########################################################

#scgi_port = localhost:5000
directory = ~/nil/Media/[Incomplete]
session = ~/.config/nil/rtorrent-session
schedule = watch_directory_1,10,10,"load_start=~/Dropbox/rtorrent/*.torrent,d.set_custom1=~/nil/Media"
schedule = watch_directory_2,10,10,"load_start=~/Dropbox/rtorrent/\[Ext\]\\ Anime/*.torrent,d.set_custom1=/mnt/ext/Media/Anime/\[Backlog\]"
schedule = watch_directory_3,10,10,"load_start=~/Dropbox/rtorrent/\[Ext\]\\ Anime\\ -\\ Spring\\ 2013/*.torrent,d.set_custom1=\"/mnt/ext/Media/Anime/\[Backlog\]/\[Spring\\ 2013\]\""
schedule = watch_directory_4,10,10,"load_start=~/Dropbox/rtorrent/\[Ext\]\\ Film/*.torrent,d.set_custom1=/mnt/ext/Media/Film/\[Backlog\]"
schedule = watch_directory_5,10,10,"load_start=~/Dropbox/rtorrent/\[Ext\]\\ Manga/*.torrent,d.set_custom1=/mnt/ext/Media/Manga/\[Backlog\]"
schedule = watch_directory_6,10,10,"load_start=~/Dropbox/rtorrent/\[Ext\]\\ TV/*.torrent,d.set_custom1=/mnt/ext/Media/TV/\[Backlog\]"
schedule = watch_directory_7,10,10,"load_start=~/Dropbox/rtorrent/\[Ext\]\\ Visual\\ Novel/*.torrent,d.set_custom1=\"/mnt/ext/Media/Visual\\ Novel/\[Backlog\]\""
schedule = watch_directory_8,10,10,"load_start=~/Dropbox/rtorrent/Music/*.torrent,d.set_custom1=~/nil/Media/Music"
system.method.set_key =event.download.finished,move_complete,"d.set_directory=$d.get_custom1= ;execute=mv,-u,$d.get_base_path=,$d.get_custom1="
system.method.set_key = event.download.inserted_new,move_tor,"execute=mv,-u,$d.get_loaded_file=,~/.trash"
schedule = low_diskspace,5,60,close_low_diskspace=100M

# vim:filetype=rtorrent
