!
! X dotfile
! ~/.Xresources
! Name: nil
!

! URxvt Colorscheme {{{
! -----------------------------------------------------------------------------

! Hybrid Terminal Colours
! Tomorrow-Night Palette
#define t_background #1D1F21
#define t_current_line #282A2E
#define t_selection #373B41
#define t_foreground #C5C8C6
#define t_comment #707880
#define t_red #CC6666
#define t_orange #DE935F
#define t_yellow #F0C674
#define t_green #B5BD68
#define t_aqua #8ABEB7
#define t_blue #81A2BE
#define t_purple #B294BB

URxvt*background: t_background
URxvt*foreground: t_foreground
! black
URxvt*color0: t_current_line
URxvt*color8: t_selection
! red
URxvt*color1: #A54242
URxvt*color9: t_red
! green
URxvt*color2: #8C9440
URxvt*color10: t_green
! yellow
URxvt*color3: t_orange
URxvt*color11: t_yellow
! blue
URxvt*color4: #5F819D
URxvt*color12: t_blue
! magenta
URxvt*color5: #85678F
URxvt*color13: t_purple
! cyan
URxvt*color6: #5E8D87
URxvt*color14: t_aqua
! white
URxvt*color7: t_comment
URxvt*color15: t_foreground

! }}}
! Fonts:
!URxvt*font: xft:Consolas\ for\ Powerline:size=10
!URxvt*boldFont: xft:Consolas\ for\ Powerline:bold:size=10
URxvt*font: xft:Consolas:pixelsize=13
URxvt*boldFont: xft:Consolas:bold:pixelsize=13

! Since urxvt ignores fontconfig settings.
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!urxvt scrolling options and cursor style:
URxvt*saveLines: 12000
URxvt*scrollstyle: plain
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: true

! urxvt perl extensions:
URxvt.perl-ext-common: default,matcher

! No, dont go to ISO mode for S-C.
URxvt.iso14755: False

! Keybindings.
URxvt.keysym.C-u: command:\033]720;1\007
URxvt.keysym.C-d: command:\033]721;1\007
! Somehow map it to some obscure key, and then map that key via Vim.
!URxvt.keysym.S-space: commdn: \033[1~

!enabling clickable links:
URxvt.matcher.button: 1
URxvt.urlLauncher: /usr/bin/firefox

! Highlight to end of last character, not the full line (particularly
! more convenient for yanking).
! Not working.
URxvt.highlightSelection: true

! If only i3 supported (real) transparency!
! Reason: nice to have just a /little/ blurred transparency to see through where I am.
!urxvt*depth: 100
!urxvt*background: rgba:0000/0000/0200/c800
! vim: ft=xdefaults
