!
! X dotfile
! ~/.Xresources
! Name: Dustin Tran
!

!##############################################################################
! Colorscheme
!##############################################################################

#define base00 #272822
#define base01 #383830
#define base02 #49483e
#define base03 #75715e
#define base04 #a59f85
#define base05 #f8f8f2
#define base06 #f5f4f1
#define base07 #f9f8f5
#define base08 #f92672
#define base09 #fd971f
#define base0A #f4bf75
#define base0B #a6e22e
#define base0C #a1efe4
#define base0D #66d9ef
#define base0E #ae81ff
#define base0F #cc6633

*.foreground: base05
*.background: base00
*.cursorColor: base05
*.color0: base00
*.color1: base08
*.color2: base0B
*.color3: base0A
*.color4: base0D
*.color5: base0E
*.color6: base0C
*.color7: base05
*.color8: base03
*.color9: base09
*.color10: base01
*.color11: base02
*.color12: base04
*.color13: base06
*.color14: base0F
*.color15: base07

!##############################################################################
! Fonts
!##############################################################################

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

URxvt*font: xft:tewi:pixelsize=11:antialias=false,\
            [codeset=JISX0208]xft:Kochi Gothic,\
            [codeset=KSC5601]xft:Baekmuk Dotum,\
            xft:WenQuanYi Bitmap Song
URxvt*boldFont: xft:tewi:pixelsize=11:antialias=false,\
            [codeset=JISX0208]xft:Kochi Gothic,\
            [codeset=KSC5601]xft:Baekmuk Dotum,\
            xft:WenQuanYi Bitmap Song
URxvt*imFont: -*-Kochi Gothic-medium-r-normal--11-140-*-*-*-*-*-*

!##############################################################################
! Scrolling and Cursor
!##############################################################################

URxvt*saveLines: 10000
URxvt*scrollstyle: plain
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: true

!##############################################################################
! Keybindings
!##############################################################################

URxvt.keysym.C-u: command:\033]720;1\007
URxvt.keysym.C-d: command:\033]721;1\007
! Somehow map it to some obscure key, and then map that key via Vim
!URxvt.keysym.S-space: command: \033[1~
URxvt.iso14755: False

!##############################################################################
! Various Settings
!##############################################################################

!URxvt.perl-lib: /home/dvt/.config/urxvt
!URxvt.perl-ext: default,matcher
!URxvt.perl-ext-common: default,clipboard
!URxvt.matcher.button: 1
!URxvt.urlLauncher: /usr/bin/firefox
! Highlight to end of last character, not the full line (particularly more convenient for yanking)
! Not working.
!URxvt.highlightSelection: true

! vim: ft=xdefaults
