!
! X dotfile
! ~/.Xresources
! Name: nil
!

! URxvt Colorscheme {{{
! -----------------------------------------------------------------------------

! Hybrid Terminal Colours
! vim: ft=xdefaults
! Tomorrow-Night Palette
#define t_background #1D1F21
#define t_current_line #282A2E
#define t_selection #373B41
#define t_foreground #C5C8C6
#define t_comment #707880
#define t_red #CC6666
#define t_orange #DE935F
#define t_yellow #F0C674
#define t_green #B5BD68
#define t_aqua #8ABEB7
#define t_blue #81A2BE
#define t_purple #B294BB

URxvt*background: t_background
URxvt*foreground: t_foreground
! black
URxvt*color0: t_current_line
URxvt*color8: t_selection
! red
URxvt*color1: #A54242
URxvt*color9: t_red
! green
URxvt*color2: #8C9440
URxvt*color10: t_green
! yellow
URxvt*color3: t_orange
URxvt*color11: t_yellow
! blue
URxvt*color4: #5F819D
URxvt*color12: t_blue
! magenta
URxvt*color5: #85678F
URxvt*color13: t_purple
! cyan
URxvt*color6: #5E8D87
URxvt*color14: t_aqua
! white
URxvt*color7: t_comment
URxvt*color15: t_foreground

! }}}
! Fonts:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt*font: xft:Consolas\ for\ Powerline:size=10
URxvt*boldFont: xft:Consolas\ for\ Powerline:bold:size=10
URxvt.letterSpace: -1

!urxvt extensions:
URxvt.perl-ext-common: default,matcher,clipboard

! No, dont go to ISO mode for S-C.
URxvt.iso14755: False

! Keybindings.
URxvt.keysym.C-v: perl:clipboard:paste
URxvt.keysym.C-u: command:\033]720;1\007
URxvt.keysym.C-d: command:\033]721;1\007
! Somehow unbind S-Space.
!URxvt.keysym.S-space:  \033

!enabling clickable links:
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1

!urxvt scrolling options and cursor style:
URxvt*saveLines: 12000
URxvt*scrollstyle:plain
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: true

! urxvt tabs settings:
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 2
URxvt.tabbed.tab-bg: 8
URxvt.tabbed.autohide:  yes
URxvt.tabbed.new-button:  no
URxvt.tabbed.title: no

! dzen2 {{{
! -----------------------------------------------------------------------------

dzen2.font:       -*-fixed-*-*-*-*-*-*-*-*-*-*-*-*
dzen2.foreground: #22EE11
dzen2.background: #F0F0F0

! }}}
