<UserScriptConfig>
	<Script basedir="UC_Berkeley_Schedule_Enhancer_(UCBSE)" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Enhances the look and feel of the UC Berkeley schedule making it easier to read and search for classes." enabled="true" filename="105611.user.js" installTime="1367656207742" modified="1367656207000" name="UC Berkeley Schedule Enhancer (UCBSE)" namespace="http://osoc.berkeley.edu/OSOC/" runAt="document-end" uuid="f641e3ec-b04d-43b2-92cc-4bf150173144" version="null" installurl="http://userscripts.org/scripts/source/105611.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/105611.meta.js">
		<Grant>GM_addStyle</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_log</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>http://osoc.berkeley.edu/OSOC/*</Include>
	</Script>
	<Script basedir="MAL_tags" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Temporary (or not?) userscript for custom tags feature in MAL lists" enabled="true" filename="150384.user.js" installTime="1367656242765" modified="1367656242000" name="MAL tags" namespace="http://myanimelist.net" runAt="document-end" uuid="71af14f5-25b7-4a52-9ca5-d67983041328" version="2.0" installurl="https://userscripts.org/scripts/source/150384.user.js" updateurl="http://userscripts.org/scripts/source/150384.meta.js">
		<Grant>none</Grant>
		<Include>http://myanimelist.net/animelist/*</Include>
		<Include>http://myanimelist.net/mangalist/*</Include>
	</Script>
	<Script basedir="Wikipedia_TeX_Source_Extractor" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Allows you to extract the TeX source from an image of a formula on Wikipedia. Just click on the desired formula and you're good to go." enabled="true" filename="121713.user.js" installTime="1367656284938" modified="1367656284000" name="Wikipedia TeX Source Extractor" namespace="http://giu.me" runAt="document-end" uuid="deca2eee-9f82-4e73-a2da-098694140219" version="1.0" installurl="http://userscripts.org/scripts/source/121713.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/121713.meta.js">
		<Grant>none</Grant>
		<Include>*.wikipedia.org/w*</Include>
		<Include>*.wikibooks.org/w*</Include>
	</Script>
	<Script basedir="4chan_X" checkRemoteUpdates="1" dependhash="f1749cc5da0817fbaad8431c9b2aa4bedfd17e21" description="Cross-browser extension for productive lurking on 4chan." enabled="false" filename="4chan-X.user.js" installTime="1370925476594" modified="1370925476000" name="4chan X" namespace="4chan-X" runAt="document-start" uuid="f9274cc1-505c-4181-bb6d-dfdfa2fef0c6" version="3.5.2" installurl="https://4chan-x.just-believe.in/builds/4chan-X.user.js" updateurl="https://4chan-x.just-believe.in/builds/4chan-X.meta.js" icon="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAACVBMVEUAAGcAAABmzDNZt9VtAAAAAXRSTlMAQObYZgAAAHFJREFUKFOt0LENACEIBdBv4Qju4wgWanEj3D6OcIVMKaitYHEU/jwTCQj8W75kiVCSBvdQ5/AvfVHBin11BgdRq3ysBgfwBDRrj3MCIA+oAQaku/Q1cNctrAmyDl577tOThYt/Y1RBM4DgOHzM0HFTAyLukH/cmRnqAAAAAElFTkSuQmCC">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_openInTab</Grant>
		<Match>*://api.4chan.org/*</Match>
		<Match>*://boards.4chan.org/*</Match>
		<Match>*://images.4chan.org/*</Match>
		<Match>*://sys.4chan.org/*</Match>
	</Script>
	<Script basedir="4chan_x" checkRemoteUpdates="1" dependhash="de4ca77d72f0a4de2229e149b7ba2844ff21f12a" description="Adds various features." enabled="true" filename="4chan_x.user.js" installTime="1370068981096" modified="1370068981000" name="4chan x" namespace="aeosynth" runAt="document-start" uuid="6402e286-5cc7-4430-b33b-fc4d9c656771" version="1.0.3" installurl="https://github.com/phallus/4chan-x/raw/4chan_x.user.js" updateurl="https://github.com/phallus/4chan-x/raw/4chan_x.user.js" icon="data:image/gif;base64,R0lGODlhEAAQAKECAAAAAGbMM////////yH5BAEKAAIALAAAAAAQABAAAAIxlI+pq+D9DAgUoFkPDlbs7lGiI2bSVnKglnJMOL6omczxVZK3dH/41AG6Lh7i6qUoAAA7">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_openInTab</Grant>
		<Include>http://boards.4chan.org/*</Include>
		<Include>https://boards.4chan.org/*</Include>
		<Include>http://images.4chan.org/*</Include>
		<Include>https://images.4chan.org/*</Include>
		<Include>http://sys.4chan.org/*</Include>
		<Include>https://sys.4chan.org/*</Include>
	</Script>
	<Script basedir="Linkify_Plus" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Turn plain text URLs into links. Supports http, https, ftp, email addresses." enabled="true" filename="1352.user.js" installTime="1370246857235" modified="1370246857000" name="Linkify Plus" namespace="http://arantius.com/misc/greasemonkey/" runAt="document-end" uuid="476ccdbd-33cd-4df0-aef5-efabff096a53" version="2.1.4" installurl="http://userscripts.org/scripts/source/1352.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/1352.meta.js">
		<Exclude>http://www.google.tld/search*</Exclude>
		<Exclude>https://www.google.tld/search*</Exclude>
		<Exclude>http://music.google.com/*</Exclude>
		<Exclude>https://music.google.com/*</Exclude>
		<Exclude>http://mail.google.com/*</Exclude>
		<Exclude>https://mail.google.com/*</Exclude>
		<Exclude>http://docs.google.com/*</Exclude>
		<Exclude>https://docs.google.com/*</Exclude>
		<Exclude>http://mxr.mozilla.org/*</Exclude>
		<Grant>none</Grant>
		<Include>http*</Include>
		<UserExclude>http://boards.4chan.org/*</UserExclude>
		<UserExclude>https://boards.4chan.org/*</UserExclude>
	</Script>
	<Script basedir="4chan_Linkify" checkRemoteUpdates="1" dependhash="ac38a19271549a5fe53c3584a66325c7cccaf310" description="Linkification of text links." enabled="true" filename="87750.user.js" installTime="1370246877036" modified="1370246877000" name="4chan Linkify" namespace="csimi" runAt="document-end" uuid="cbaf5f21-6a3e-4044-9f76-9568832bd16b" version="2.0.5" installurl="http://userscripts.org/scripts/source/87750.user.js" updateurl="http://userscripts.org/scripts/source/87750.meta.js" icon="JHVzK.png">
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_deleteValue</Grant>
		<Include>http://boards.4chan.org/*</Include>
		<Include>https://boards.4chan.org/*</Include>
	</Script>
	<Script basedir="Webcomic_Reader" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Can work on almost any webcomic/manga page, preloads 5 or more pages ahead (or behind), navigates via ajax for instant-page-change, lets you use the keyboard, remembers your progress, and it's relatively easy to add new sites" enabled="true" filename="59842.user.js" installTime="1370247930585" modified="1370248638000" name="Webcomic Reader" namespace="http://userscripts.org/scripts/show/59842" runAt="document-end" uuid="369b8c05-a2ea-40ce-bf5c-d5934f927226" version="2013.05.19" installurl="http://userscripts.org/scripts/source/59842.user.js" updateurl="https://userscripts.org/scripts/source/59842.meta.js">
		<Exclude>http://www.nerfnow.com/*/comments*</Exclude>
		<Exclude>http://nerfnow.com/*/comments*</Exclude>
		<Exclude>http://www.gocomics.com/</Exclude>
		<Exclude>http://www.gocomics.com/?*</Exclude>
		<Exclude>http://www.reddit.com/*/comments/*</Exclude>
		<Exclude>http://old.lu.scio.us/hentai/albums/*/page/*</Exclude>
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_openInTab</Grant>
		<Include>http://www.sluggy.com/*</Include>
		<Include>http://sluggy.com/*</Include>
		<Include>http://www.penny-arcade.com/comic*</Include>
		<Include>http://penny-arcade.com/comic*</Include>
		<Include>http://www.xkcd.com/*</Include>
		<Include>http://xkcd.com/*</Include>
		<Include>http://www.xkcd.org/*</Include>
		<Include>http://xkcd.org/*</Include>
		<Include>http://www.xkcd.net/*</Include>
		<Include>http://xkcd.net/*</Include>
		<Include>https://www.xkcd.com/*</Include>
		<Include>https://xkcd.com/*</Include>
		<Include>http://www.giantitp.com/*</Include>
		<Include>http://www.dilbert.com/*</Include>
		<Include>http://dilbert.com/*</Include>
		<Include>http://www.explosm.net/*</Include>
		<Include>http://explosm.net/*</Include>
		<Include>http://www.nuklearpower.com/*</Include>
		<Include>http://www.reallifecomics.com/*</Include>
		<Include>http://reallifecomics.com/*</Include>
		<Include>http://pvponline.com/*</Include>
		<Include>http://www.brawlinthefamily.com/*</Include>
		<Include>http://drmcninja.com/*</Include>
		<Include>http://www.vgcats.com/*/*</Include>
		<Include>http://www.phdcomics.com/*</Include>
		<Include>http://www.cad-comic.com/*</Include>
		<Include>http://www.smbc-comics.com/*</Include>
		<Include>http://abstrusegoose.com/*</Include>
		<Include>http://thedoghousediaries.com/*</Include>
		<Include>http://www.erfworld.com/*</Include>
		<Include>http://es.juanelo.net/*/*</Include>
		<Include>http://www.mangastream.com/*</Include>
		<Include>http://mangastream.com/*</Include>
		<Include>http://www.qwantz.com/*</Include>
		<Include>http://qwantz.com/*</Include>
		<Include>http://www.2pstart.com/*/*</Include>
		<Include>http://www.spaceavalanche.com/*</Include>
		<Include>http://www.gunshowcomic.com/*</Include>
		<Include>http://gunshowcomic.com/*</Include>
		<Include>http://www.terrorisland.net/*</Include>
		<Include>http://nedroid.com/*</Include>
		<Include>http://manga.animea.net/*</Include>
		<Include>http://www.bobandgeorge.com/*</Include>
		<Include>http://bobandgeorge.com/*</Include>
		<Include>http://www.shamusyoung.com/*</Include>
		<Include>http://www.stationv3.com/*</Include>
		<Include>http://www.lfgcomic.com/page/*</Include>
		<Include>http://lfgcomic.com/page/*</Include>
		<Include>http://www.gpf-comics.com/*</Include>
		<Include>http://www.questionablecontent.net/*</Include>
		<Include>http://questionablecontent.net/*</Include>
		<Include>http://miscellanea.wellingtongrey.net/*</Include>
		<Include>http://www.daisyowl.com/*</Include>
		<Include>http://daisyowl.com/*</Include>
		<Include>http://www.hyperdeathbabies.com/*</Include>
		<Include>http://www.kyo.cn/Viewcartoon/*</Include>
		<Include>http://www.mangatoshokan.com/*</Include>
		<Include>http://amultiverse.com/*</Include>
		<Include>http://wondermark.com/*</Include>
		<Include>http://www.amazingsuperpowers.com/*</Include>
		<Include>http://www.anymanga.com/*</Include>
		<Include>http://anymanga.com/*</Include>
		<Include>http://mangafox.me/*</Include>
		<Include>http://www.leasticoulddo.com/*</Include>
		<Include>http://leasticoulddo.com/*</Include>
		<Include>http://www.sinfest.net/*</Include>
		<Include>http://www.crfh.net/*</Include>
		<Include>http://crfh.net/*</Include>
		<Include>http://www.eeriecuties.com/*</Include>
		<Include>http://www.menagea3.net/*</Include>
		<Include>http://www.pennyandaggie.com/*</Include>
		<Include>http://pennyandaggie.com/*</Include>
		<Include>http://www.darkbolt.com/*</Include>
		<Include>http://darkbolt.com/*</Include>
		<Include>http://www.egscomics.com/*</Include>
		<Include>http://egscomics.com/*</Include>
		<Include>http://www.the-gutters.com/*</Include>
		<Include>http://www.punchanpie.net/*</Include>
		<Include>http://punchanpie.net/*</Include>
		<Include>http://noneedforbushido.com/*</Include>
		<Include>http://www.teahousecomic.com/*</Include>
		<Include>http://www.applegeeks.com/*</Include>
		<Include>http://applegeeks.com/*</Include>
		<Include>http://www.mangareader.net/*</Include>
		<Include>http://stoptazmo.com/*</Include>
		<Include>http://www.arcamax.com/*</Include>
		<Include>http://www.nettserier.no/*</Include>
		<Include>http://nettserier.no/*</Include>
		<Include>http://disneycomics.free.fr/*/show.php?*</Include>
		<Include>http://www.nerfnow.com/*</Include>
		<Include>http://nerfnow.com/*</Include>
		<Include>http://www.virtualshackles.com/*</Include>
		<Include>http://www.little-gamers.com/*</Include>
		<Include>http://www.digitalunrestcomic.com/*</Include>
		<Include>http://digitalunrestcomic.com/*</Include>
		<Include>http://www.duelinganalogs.com/*</Include>
		<Include>http://www.actiontrip.com/*</Include>
		<Include>http://actiontrip.com/*</Include>
		<Include>http://www.myextralife.com/*</Include>
		<Include>http://www.mondaynightcrew.com/*</Include>
		<Include>http://mondaynightcrew.com/*</Include>
		<Include>http://notinventedhe.re/*</Include>
		<Include>http://www.unshelved.com/*</Include>
		<Include>https://www.eviscerati.org/comics*</Include>
		<Include>http://read.mangashare.com/*</Include>
		<Include>http://ani-haven.net/hr-alpha/*</Include>
		<Include>http://haven-reader.net/*</Include>
		<Include>http://www.manga2u.me/*</Include>
		<Include>http://manga2u.me/*</Include>
		<Include>http://buttersafe.com/*</Include>
		<Include>http://www.romanticallyapocalyptic.com/*</Include>
		<Include>http://romanticallyapocalyptic.com/*</Include>
		<Include>http://www.somethingpositive.net/*</Include>
		<Include>http://somethingpositive.net/*</Include>
		<Include>http://www.rhymes-with-witch.com/*</Include>
		<Include>http://rhymes-with-witch.com/*</Include>
		<Include>http://www.superstupor.com/*</Include>
		<Include>http://superstupor.com/*</Include>
		<Include>http://www.misfile.com/*</Include>
		<Include>http://www.asofterworld.com/*</Include>
		<Include>http://asofterworld.com/*</Include>
		<Include>http://www.achewood.com/*</Include>
		<Include>http://achewood.com/*</Include>
		<Include>http://www.act-i-vate.com/*</Include>
		<Include>http://act-i-vate.com/*</Include>
		<Include>http://www.biggercheese.com/*</Include>
		<Include>http://biggercheese.com/*</Include>
		<Include>http://www.gwscomic.com/*</Include>
		<Include>http://gwscomic.com/*</Include>
		<Include>http://www.fonflatter.de/*</Include>
		<Include>http://www.ruthe.de/*</Include>
		<Include>http://ruthe.de/*</Include>
		<Include>http://www.daybydaycartoon.com/*</Include>
		<Include>http://daybydaycartoon.com/*</Include>
		<Include>http://www.dieselsweeties.com/*</Include>
		<Include>http://dieselsweeties.com/*</Include>
		<Include>http://www.foxtrot.com/*</Include>
		<Include>http://www.csectioncomics.com/*</Include>
		<Include>http://garfieldminusgarfield.net/*</Include>
		<Include>http://www.girlgeniusonline.com/*</Include>
		<Include>http://www.gocomics.com/*</Include>
		<Include>http://www.gunnerkrigg.com/*</Include>
		<Include>http://www.ho-lo.co.il/*</Include>
		<Include>http://www.jeffzugale.com/*</Include>
		<Include>http://www.threepanelsoul.com/*</Include>
		<Include>http://threepanelsoul.com/*</Include>
		<Include>http://www.oglaf.com/*</Include>
		<Include>http://oglaf.com/*</Include>
		<Include>http://www.kevinandkell.com/*</Include>
		<Include>http://kevinandkell.com/*</Include>
		<Include>http://kittyhawkcomic.com/*</Include>
		<Include>http://www.lackadaisycats.com/comic.php*</Include>
		<Include>http://lackadaisycats.com/comic.php*</Include>
		<Include>http://www.lukesurl.com/*</Include>
		<Include>http://mycardboardlife.com/*</Include>
		<Include>http://megatokyo.com/*</Include>
		<Include>http://www.megatokyo.it/*</Include>
		<Include>http://www.megatokyo.de/*</Include>
		<Include>http://ex2.unixmanga.net/*</Include>
		<Include>http://allmymanga.com/*</Include>
		<Include>http://noreasoncomics.com/*</Include>
		<Include>http://www.pixelcomic.net/*</Include>
		<Include>http://pixelcomic.net/*</Include>
		<Include>http://www.redmeat.com/*</Include>
		<Include>http://redmeat.com/*</Include>
		<Include>http://sexylosers.com/*</Include>
		<Include>http://www.doonesbury.com/*</Include>
		<Include>http://stalebacon.com/*</Include>
		<Include>http://www.mangaeden.com/*</Include>
		<Include>http://www.pbfcomics.com/*</Include>
		<Include>http://tjandamal.com/*</Include>
		<Include>http://sfeertheory.littlefoolery.com/*</Include>
		<Include>http://wanderingones.com/*</Include>
		<Include>http://www.big-big-truck.com/ayiw/*</Include>
		<Include>http://big-big-truck.com/ayiw/*</Include>
		<Include>http://wapsisquare.com/*</Include>
		<Include>http://www.wastedtalent.ca/*</Include>
		<Include>http://www.wulffmorgenthaler.com/*</Include>
		<Include>http://wulffmorgenthaler.com/*</Include>
		<Include>http://www.weregeek.com/*</Include>
		<Include>http://*.katbox.net/*</Include>
		<Include>http://*.keenspace.com/*</Include>
		<Include>http://*.comicgenesis.com/*</Include>
		<Include>http://www.beanleafpress.com/*</Include>
		<Include>http://gipcomic.com/*</Include>
		<Include>http://www.theoswaldchronicles.com/*</Include>
		<Include>http://www.awkwardzombie.com/*</Include>
		<Include>http://awkwardzombie.com/*</Include>
		<Include>http://www.stainedglasssamurai.com/*</Include>
		<Include>http://stainedglasssamurai.com/*</Include>
		<Include>http://*.seraph-inn.com/*</Include>
		<Include>http://www.fakku.net/manga/*</Include>
		<Include>http://www.fakku.net/doujinshi/*</Include>
		<Include>http://www.deadwinter.cc/*</Include>
		<Include>http://deadwinter.cc/*</Include>
		<Include>http://www.loveisintheblood.com/*</Include>
		<Include>http://rhapsodies.wpmorse.com/*</Include>
		<Include>http://www.piratesofmars.com/*</Include>
		<Include>http://www.soulless-comic.com/*</Include>
		<Include>http://www.earthsongsaga.com/vol*</Include>
		<Include>http://rainchildstudios.com/strawberry/*</Include>
		<Include>http://www.goblinscomic.com/*</Include>
		<Include>http://www.venusenvycomic.com/*</Include>
		<Include>http://venusenvycomic.com/*</Include>
		<Include>http://www.meekcomic.com/*</Include>
		<Include>http://www.dominic-deegan.com/*</Include>
		<Include>http://dominic-deegan.com/*</Include>
		<Include>http://yafgc.net/*</Include>
		<Include>http://www.sdamned.com/*</Include>
		<Include>http://www.twolumps.net/*</Include>
		<Include>http://twolumps.net/*</Include>
		<Include>http://www.precociouscomic.com/*</Include>
		<Include>http://precociouscomic.com/*</Include>
		<Include>http://betweenplaces.spiderforest.com/*</Include>
		<Include>http://specialschool.spiderforest.com/*</Include>
		<Include>http://requiem.spiderforest.com/*</Include>
		<Include>http://sevensmith.net/chirault/*</Include>
		<Include>http://www.junglestudio.com/roza/*</Include>
		<Include>http://www.dream-scar.net/*</Include>
		<Include>http://dream-scar.net/*</Include>
		<Include>http://www.tryinghuman.com/*</Include>
		<Include>http://tryinghuman.com/*</Include>
		<Include>http://www.thedreamercomic.com/*</Include>
		<Include>http://thedreamercomic.com/</Include>
		<Include>http://www.shazzbaa.com/*</Include>
		<Include>http://shazzbaa.com/*</Include>
		<Include>http://www.sandraandwoo.com/*</Include>
		<Include>http://www.freakangels.com/*</Include>
		<Include>http://comics.com/*</Include>
		<Include>http://www.sakanacomic.com/*</Include>
		<Include>http://www.jaygeefisher.com/*</Include>
		<Include>http://jaygeefisher.com/*</Include>
		<Include>http://www.doujin-moe.us/*</Include>
		<Include>http://keychain.patternspider.net/*</Include>
		<Include>http://www.collectedcurios.com/*</Include>
		<Include>http://www.doomies.com/*</Include>
		<Include>http://doomies.com/*</Include>
		<Include>http://www.qgmindpolice.com/*</Include>
		<Include>http://www.slowwave.com/*</Include>
		<Include>http://slowwave.com/*</Include>
		<Include>http://www.sylvanmigdal.com/*</Include>
		<Include>http://sylvanmigdal.com/*</Include>
		<Include>http://www.c.urvy.org/*</Include>
		<Include>http://c.urvy.org/*</Include>
		<Include>http://www.the-artiste.net/*</Include>
		<Include>http://www.doublefine.com/*</Include>
		<Include>http://wwww.survivingtheworld.net/*</Include>
		<Include>http://survivingtheworld.net/*</Include>
		<Include>http://view.thespectrum.net/*</Include>
		<Include>http://www.mangavolume.com/*</Include>
		<Include>http://nonadventures.com/*</Include>
		<Include>http://www.robandelliot.cycomics.com/*</Include>
		<Include>http://robandelliot.cycomics.com/*</Include>
		<Include>http://soulsymphonycomic.com/*</Include>
		<Include>http://www.blastwave-comic.com/*</Include>
		<Include>http://www.channelate.com/*</Include>
		<Include>http://www.picturesforsadchildren.com/*</Include>
		<Include>http://picturesforsadchildren.com/*</Include>
		<Include>http://www.optipess.com/*</Include>
		<Include>http://www.drawuntilitsfunny.com/*</Include>
		<Include>http://beardfluff.com/*</Include>
		<Include>http://lawlscomic.com/*</Include>
		<Include>http://www.maakies.com/*</Include>
		<Include>http://www.lefthandedtoons.com/*</Include>
		<Include>http://trollscience.com/*</Include>
		<Include>http://www.diggercomic.com/*</Include>
		<Include>http://luciphurrsimps.com/*</Include>
		<Include>http://nikkisprite.com/*</Include>
		<Include>http://planet-nowhere.com/*</Include>
		<Include>http://www.mysisterthefreak.com/*</Include>
		<Include>http://www.gronkcomic.com/*</Include>
		<Include>http://www.redsplanet.com/*</Include>
		<Include>http://www.cowshell.com/*</Include>
		<Include>http://everblue-comic.com/*</Include>
		<Include>http://tmkcomic.depleti.com/*</Include>
		<Include>http://www.remindblog.com/*</Include>
		<Include>http://inkdolls.com/*</Include>
		<Include>http://www.terra-comic.com/*</Include>
		<Include>http://lovecraftismissing.com/*</Include>
		<Include>http://www.redmoonrising.org/*</Include>
		<Include>http://www.khaoskomix.com/*</Include>
		<Include>http://ipaintgirls.com/*</Include>
		<Include>http://memoria.valice.net/*</Include>
		<Include>http://www.twilightlady.com/*</Include>
		<Include>http://submanga.com/*</Include>
		<Include>http://g.e-hentai.org/*</Include>
		<Include>http://animesquish.com/*</Include>
		<Include>http://crazytje.be/*</Include>
		<Include>http://www.tenmangas.com/*</Include>
		<Include>http://tenmangas.com/*</Include>
		<Include>http://www.tenmanga.com/*</Include>
		<Include>http://tenmanga.com/*</Include>
		<Include>http://www.perveden.com/*</Include>
		<Include>http://reader.imangascans.org/*</Include>
		<Include>http://www.ekkifu.com/*</Include>
		<Include>http://www.bittersweetcandybowl.com/*</Include>
		<Include>http://www.doujintoshokan.com/*</Include>
		<Include>http://www.imagebam.com/*</Include>
		<Include>http://www.exploitationnow.com/*</Include>
		<Include>http://www.otakuworks.com/*</Include>
		<Include>http://h-manga.info/*</Include>
		<Include>http://basicinstructions.net/*</Include>
		<Include>http://www.insaneyetisquirrel.com/*</Include>
		<Include>http://*.kukudm.com/comiclist/*/*/*</Include>
		<Include>http://*.kukudm.net/comiclist/*/*/*</Include>
		<Include>http://mh.socomic.com/comiclist/*/*/*</Include>
		<Include>http://www.socomic.net/comiclist/*/*/*</Include>
		<Include>http://www.webcomicsnation.com/*</Include>
		<Include>http://www.pawn.se/*</Include>
		<Include>http://www.rpgworldcomic.com/*</Include>
		<Include>http://rpgworldcomic.com/*</Include>
		<Include>http://maskedretriever.com/*</Include>
		<Include>http://www.missmab.com/*</Include>
		<Include>http://www.lookwhatibroughthome.com/*</Include>
		<Include>http://hijinksensue.com/*</Include>
		<Include>http://www.darthsanddroids.net/*</Include>
		<Include>http://darthsanddroids.net/*</Include>
		<Include>http://www.harkavagrant.com/*</Include>
		<Include>http://www.turbosloth.net/*</Include>
		<Include>http://turbosloth.net/*</Include>
		<Include>http://www.walkinginsquares.com/*</Include>
		<Include>http://walkinginsquares.com/*</Include>
		<Include>http://dresdencodak.com/*</Include>
		<Include>http://www.straysonline.com/comic/*</Include>
		<Include>http://straysonline.com/comic/*</Include>
		<Include>http://www.emi-art.com/*</Include>
		<Include>http://emi-art.com/*</Include>
		<Include>http://www.dragonball-multiverse.com/*</Include>
		<Include>http://insanesoft.org/fanfyria/*</Include>
		<Include>http://*.snafu-comics.com/*</Include>
		<Include>http://www.wayfarersmoon.com/*</Include>
		<Include>http://wayfarersmoon.com/*</Include>
		<Include>http://*.smackjeeves.com/*</Include>
		<Include>http://www.10kcommotion.com/*</Include>
		<Include>http://10kcommotion.com/*</Include>
		<Include>http://somemangas.com/*</Include>
		<Include>http://www.multiplexcomic.com/*</Include>
		<Include>http://multiplexcomic.com/*</Include>
		<Include>http://www.johnandjohn.nl/index.php?*wltypeid=1*</Include>
		<Include>http://www.sorcery101.net/*</Include>
		<Include>http://www.treadingground.com/*</Include>
		<Include>http://www.jerkcity.com/*</Include>
		<Include>http://jerkcity.com/*</Include>
		<Include>http://www.kiwiblitz.com/*</Include>
		<Include>http://thepunchlineismachismo.com/*</Include>
		<Include>http://kafkaskoffee.com/*</Include>
		<Include>http://www.out-at-home.com/*</Include>
		<Include>http://occasionalcomics.com/*</Include>
		<Include>http://www.zombieboycomics.com/*</Include>
		<Include>http://www.babyblues.com/*</Include>
		<Include>http://babyblues.com/*</Include>
		<Include>http://www.bearandtiger.com/*</Include>
		<Include>http://mangatopia.net/*</Include>
		<Include>http://exhentai.org/*</Include>
		<Include>http://www.wigucomics.com/*</Include>
		<Include>http://www.mankin-trad.net/*</Include>
		<Include>http://mankin-trad.net/*</Include>
		<Include>http://www.mangahere.com/*</Include>
		<Include>http://es.mangahere.com/*</Include>
		<Include>http://www.scarygoround.com/*</Include>
		<Include>http://scarygoround.com/*</Include>
		<Include>http://www.magickchicks.com/*</Include>
		<Include>http://www.schlockmercenary.com/*</Include>
		<Include>http://www.warehousecomic.com/*</Include>
		<Include>http://warehousecomic.com/*</Include>
		<Include>http://www.tnemrot.com/*</Include>
		<Include>http://www.holiday-wars.com/*</Include>
		<Include>http://www.zapcomic.com/*</Include>
		<Include>http://www.twokinds.net/*</Include>
		<Include>http://twokinds.net/*</Include>
		<Include>http://www.dumbingofage.com/*</Include>
		<Include>http://www.shortpacked.com/*</Include>
		<Include>http://www.itswalky.com/*</Include>
		<Include>http://itswalky.com/*</Include>
		<Include>http://www.evildivacomics.com/*</Include>
		<Include>http://axecop.com/index.php/acepisodes/*</Include>
		<Include>http://axecop.com/index.php/acask/*</Include>
		<Include>http://www.somethingofthatilk.com/*</Include>
		<Include>http://somethingofthatilk.com/*</Include>
		<Include>http://imgur.com/*</Include>
		<Include>http://www.reddit.com/</Include>
		<Include>http://www.reddit.com/?*</Include>
		<Include>http://www.reddit.com/r/*</Include>
		<Include>http://blankitcomics.com/*</Include>
		<Include>http://www.anime-source.com/*</Include>
		<Include>http://anime-source.com/*</Include>
		<Include>http://www.mangarush.com/*</Include>
		<Include>http://www.citymanga.com/*/*/*</Include>
		<Include>http://citymanga.com/*/*/*</Include>
		<Include>http://www.dctp.ws/*/V*.html</Include>
		<Include>http://dctp.ws/*/V*.html</Include>
		<Include>http://dctpws.thetrogdor.com/*</Include>
		<Include>http://doctorcatmd.com/*</Include>
		<Include>http://www.sheldoncomics.com/*</Include>
		<Include>http://sheldoncomics.com/*</Include>
		<Include>http://luscious.net/*/pictures/*</Include>
		<Include>http://old.lu.scio.us/hentai/albums/*</Include>
		<Include>http://www.geekculture.com/joyoftech/*</Include>
		<Include>http://www.basketcasecomix.com/*</Include>
		<Include>http://www.geeklifecomic.com/*</Include>
		<Include>http://www.realmofatland.com/*</Include>
		<Include>http://realmofatland.com/*</Include>
		<Include>http://thedoujin.com/index.php?page=post&amp;s=view&amp;id=*</Include>
		<Include>http://eatmanga.com/*</Include>
		<Include>http://www.oslevadosdabreca.com/*</Include>
		<Include>http://www.thedevilbear.com/*</Include>
		<Include>http://thedevilbear.com/*</Include>
		<Include>http://www.bladebunny.com/*</Include>
		<Include>http://www.exiern.com/*</Include>
		<Include>http://nsfw-comix.com/*</Include>
		<Include>http://jaynaylor.com/*</Include>
		<Include>http://www.anelnoath.com/*</Include>
		<Include>http://www.faans.com/*</Include>
		<Include>http://www.truefork.org/*</Include>
		<Include>http://truefork.org/*</Include>
		<Include>http://www.aorange.com/*</Include>
		<Include>http://www.strangecandy.net/*</Include>
		<Include>http://www.thewotch.com/*</Include>
		<Include>http://thewotch.com/*</Include>
		<Include>http://www.cheercomic.com/*</Include>
		<Include>http://cheercomic.com/*</Include>
		<Include>http://www.sgvy.com/*</Include>
		<Include>http://sgvy.com/*</Include>
		<Include>http://www.drunkduck.com/*</Include>
		<Include>http://drunkduck.com/*</Include>
		<Include>http://www.ephralon.de/seekers_detailed.php*</Include>
		<Include>http://ephralon.de/seekers_detailed.php*</Include>
		<Include>http://www.terinu.com/*</Include>
		<Include>http://terinu.com/*</Include>
		<Include>http://dcisgoingtohell.com/*</Include>
		<Include>http://las-historietas.blogspot.com/*</Include>
		<Include>http://www.palcomix.com/*</Include>
		<Include>http://palcomix.com/*</Include>
		<Include>http://www.palcomix.org/*</Include>
		<Include>http://palcomix.org/*</Include>
		<Include>http://www.whiteninjacomics.com/*</Include>
		<Include>http://whiteninjacomics.com/*</Include>
		<Include>http://www.apenotmonkey.com/*</Include>
		<Include>http://malandchad.com/*</Include>
		<Include>http://www.goodmanga.net/*</Include>
		<Include>http://www.digitalcomicmuseum.com/*</Include>
		<Include>http://digitalcomicmuseum.com/*</Include>
		<Include>http://goldenagecomics.co.uk/*</Include>
		<Include>http://fourcolorshadows.blogspot.com/*</Include>
		<Include>http://thehorrorsofitall.blogspot.com/*</Include>
		<Include>http://www.batoto.net/*</Include>
		<Include>http://www.eegra.com/*</Include>
		<Include>http://www.octopuspie.com/*</Include>
		<Include>http://www.lovemenicecomic.com/*</Include>
		<Include>http://www.manga-access.com/*</Include>
		<Include>http://manga-access.com/*</Include>
		<Include>http://www.ju-ni.net/*</Include>
		<Include>http://ju-ni.net/*</Include>
		<Include>http://blog.saveapathea.com/*</Include>
		<Include>http://www.dead-philosophers.com/*</Include>
		<Include>http://www.nerd-theater.com/*</Include>
		<Include>http://nerd-theater.com/*</Include>
		<Include>http://lackadaisy.foxprints.com/comic.php*</Include>
		<Include>http://www.mangastream.to/*</Include>
		<Include>http://www.kingfeatures.com/*</Include>
		<Include>http://kingfeatures.com/*</Include>
		<Include>http://www.thezombiehunters.com/*</Include>
		<Include>http://thezombiehunters.com/*</Include>
		<Include>http://www.bugcomic.com/*</Include>
		<Include>http://www.interrobangstudios.com/*</Include>
		<Include>http://interrobangstudios.com/*</Include>
		<Include>http://www.hlcomic.com/*</Include>
		<Include>http://hlcomic.com/*</Include>
		<Include>http://syacartoonist.com/*</Include>
		<Include>http://satwcomic.com/*</Include>
		<Include>http://stupidfox.net/*</Include>
		<Include>http://www.casualvillain.com/*</Include>
		<Include>http://fanboys-online.com/*</Include>
		<Include>http://www.girlswithslingshots.com/*</Include>
		<Include>http://www.mntgaiden.com/*</Include>
		<Include>http://truyen.vnsharing.net/*</Include>
		<Include>http://lovehentaimanga.com/*</Include>
		<Include>http://ravensdojo.com/*</Include>
		<Include>http://freefall.purrsia.com/*</Include>
		<Include>http://www.mangachapter.net/*</Include>
		<Include>http://www.shd-wk.com/*</Include>
		<Include>http://shd-wk.com/*</Include>
		<Include>http://www.pepsaga.com/*</Include>
		<Include>http://slimythief.com/*</Include>
		<Include>http://www.pebbleversion.com/*</Include>
		<Include>http://pebbleversion.com/*</Include>
		<Include>http://mentalcatproductions.com/*</Include>
		<Include>http://schoolbites.net/*</Include>
		<Include>http://www.accurseddragon.com/*</Include>
		<Include>http://www.krakowstudios.com/*</Include>
		<Include>http://www.stringtheorycomic.com/*</Include>
		<Include>http://www.supercrash.net/*</Include>
		<Include>http://loveandcapes.com/*</Include>
		<Include>http://victorycomic.comicgenesis.com/*</Include>
		<Include>http://magellanverse.com/*</Include>
		<Include>http://www.evil-comic.com/*</Include>
		<Include>http://flakypastry.runningwithpencils.com/*</Include>
		<Include>http://www.pointguardian.com/*</Include>
		<Include>http://gogetaroomie.chloe-art.com/*</Include>
		<Include>http://legendofbill.com/*</Include>
		<Include>http://www.springiette.net/*</Include>
		<Include>http://springiette.net/*</Include>
		<Include>http://www.vampirecheerleaders.net/*</Include>
		<Include>http://www.paranormalmysterysquad.com/*</Include>
		<Include>http://www.draculaeverlasting.com/*</Include>
		<Include>http://www.amazingagentjennifer.com/*</Include>
		<Include>http://mindmistress.comicgenesis.com/*</Include>
		<Include>http://www.evernightcomic.com/*</Include>
		<Include>http://www.xindm.cn/*</Include>
		<Include>http://mh2.xindm.cn/*</Include>
		<Include>http://www.manga123.com/read/*</Include>
		<Include>http://manga.redhawkscans.com/*</Include>
		<Include>http://www.mudascantrad.com/*</Include>
		<Include>http://slide.extrascans.net/*</Include>
		<Include>http://*.thewebcomic.com/*</Include>
		<Include>http://www.mangapark.com/*</Include>
		<Include>http://www.manga-go.com/*</Include>
		<Include>http://www.comicstriplibrary.org/display/*</Include>
		<Include>http://comicstriplibrary.org/display/*</Include>
		<Include>http://www.wirepop.com/*</Include>
		<Include>http://wirepop.com/*</Include>
		<Include>http://www.fantasyrealmsonline.com/manga/*</Include>
		<Include>http://foolrulez.org/*</Include>
		<Include>http://reader.japanzai.com/*</Include>
		<Include>http://www.psychopandas.com/reader/*</Include>
		<Include>http://psychopandas.com/reader/*</Include>
		<Include>http://www.ourmanga.com/*</Include>
		<Include>http://readonline.egscans.org/*</Include>
		<Include>http://read.egscans.org/*</Include>
		<Include>http://reader.eternalmanga.net/*</Include>
		<Include>http://gallery.ryuutama.com/*</Include>
		<Include>http://*.tiraecol.net/*</Include>
		<Include>http://tiraecol.net/*</Include>
		<Include>http://www.conejofrustrado.com/*</Include>
		<Include>http://www.e2w-illustration.com/*</Include>
		<Include>http://2gamerz.com/*</Include>
		<Include>http://reader.fth-scans.com/*</Include>
		<Include>http://www.simple-scans.com/*</Include>
		<Include>http://simple-scans.com/*</Include>
		<Include>http://www.mymangaspot.com/*</Include>
		<Include>http://comic.naver.com/*</Include>
		<Include>http://www.peteristhewolf.com/*</Include>
		<Include>http://peteristhewolf.com/*</Include>
		<Include>http://www.wlpcomics.com/*</Include>
		<Include>http://wlpcomics.com/*</Include>
		<Include>http://www.mangatraders.com/*</Include>
		<Include>http://hentaifromhell.net/*</Include>
		<Include>http://trenchescomic.com/*</Include>
		<Include>http://www.sakicow.com/reader/*</Include>
		<Include>http://sakicow.com/reader/*</Include>
		<Include>http://www.goominet.com/unspeakable-vault/*</Include>
		<Include>http://www.doesnotplaywellwithothers.com/*</Include>
		<Include>http://krakowstudios.com/*</Include>
		<Include>http://www.aikoniacomic.com/*</Include>
		<Include>http://aikoniacomic.com/*</Include>
		<Include>http://www.grrlpowercomic.com/*</Include>
		<Include>http://www.poisonedminds.com/*</Include>
		<Include>http://poisonedminds.com/*</Include>
		<Include>http://nodwick.humor.gamespy.com/*</Include>
		<Include>http://www.the-whiteboard.com/*</Include>
		<Include>http://the-whiteboard.com/*</Include>
		<Include>http://www.mezzacotta.net/*</Include>
		<Include>http://www.hbrowse.com/*</Include>
		<Include>http://www.vexxarr.com/*</Include>
		<Include>http://vexxarr.com/*</Include>
		<Include>http://aptitude.surfacingpoint.com/*</Include>
		<Include>http://www.bardsworth.com/*</Include>
		<Include>http://fancyadventures.com/*</Include>
		<Include>http://www.chron.com/entertainment/comics-games/comic/*</Include>
		<Include>http://www.purplepussy.net/*</Include>
		<Include>http://purplepussy.net/*</Include>
		<Include>http://www.heroeslocales.com/bunsen/*</Include>
		<Include>http://www.readhentaionline.com/*</Include>
		<Include>http://readhentaionline.com/*</Include>
		<Include>http://www.darklegacycomics.com/*</Include>
		<Include>http://darklegacycomics.com/*</Include>
		<Include>http://candicomics.com/*</Include>
		<Include>http://www.buckocomic.com/*</Include>
		<Include>http://bearmageddon.com/*</Include>
		<Include>http://betweenfailures.net/*</Include>
		<Include>http://www.sisterclaire.com/*</Include>
		<Include>http://www.fayerwayer.com/*</Include>
		<Include>http://www.niubie.com/*</Include>
		<Include>http://www.awesomehospital.com/*</Include>
		<Include>http://ars.userfriendly.org/cartoons/*</Include>
		<Include>http://www.friendswithboys.com/*</Include>
		<Include>http://www.mangago.com/*</Include>
		<Include>http://www.jesusandmo.net/*</Include>
		<Include>http://www.calamitiesofnature.com/*</Include>
		<Include>http://www.rosalarian.com/*</Include>
		<Include>http://rosalarian.com/*</Include>
		<Include>http://dungeond.com/*</Include>
		<Include>http://www.irregularwebcomic.net/*</Include>
		<Include>http://adistantsoil.com/*</Include>
		<Include>http://comic.nodwick.com/*</Include>
		<Include>http://ffn.nodwick.com/*</Include>
		<Include>http://ps238.nodwick.com/*</Include>
		<Include>http://kronos.mcanime.net/*</Include>
		<Include>http://www.ghastlycomic.com/*</Include>
		<Include>http://thedevilspanties.com/*</Include>
		<Include>http://walkingdeadbr.com/*displayimage.php*</Include>
		<Include>http://www.mangapanda.com/*</Include>
		<Include>http://mangable.com/*</Include>
		<Include>http://dragonflyscans.org/*</Include>
		<Include>http://readincesthentai.com/*</Include>
		<Include>http://www.animephile.com/*</Include>
		<Include>http://hentaistreamer.com/*</Include>
		<Include>http://kissmanga.com/*</Include>
		<Include>http://www.readmangahentai.com/*</Include>
		<Include>http://readmangahentai.com/*</Include>
		<Include>http://www.masterbloodfer.org/*</Include>
		<Include>http://masterbloodfer.org/*</Include>
		<Include>http://www.mangatank.com/*</Include>
		<Include>http://www.snowflakescomic.com/*</Include>
		<Include>http://mangafox.mobi/*</Include>
		<Include>http://www.mangainn.com/*</Include>
		<Include>http://invisiblebread.com/*</Include>
		<Include>http://www.shiftylook.com/comics/*</Include>
		<Include>http://onlinereader.mangapirate.net/*</Include>
		<Include>http://www.8comic.com/love/*</Include>
		<Include>http://8comic.com/love/*</Include>
		<Include>http://www.mangahead.com/*</Include>
		<Include>http://mangahead.com/*</Include>
		<Include>http://www.vickifox.com/*</Include>
		<Include>http://www.spinnyverse.com/*</Include>
		<Include>http://zenpencils.com/*</Include>
		<Include>http://wootmanga.com/*</Include>
		<Include>http://hentai2read.com/*</Include>
		<Include>http://komikmy.com/*/*/*</Include>
		<Include>http://www.hentaifr.net/doujinshisheng.php*</Include>
		<Include>http://www.sientoymiento.cl/*</Include>
		<Include>http://www.commissionedcomic.com/*</Include>
		<Include>http://www.mangasky.com/*</Include>
		<Include>http://mangapirate.net/*</Include>
		<Include>http://nomanga.com/*</Include>
		<Include>http://www.pipi.cl/*</Include>
		<Include>http://hentaimangaonline.com/*</Include>
		<Include>http://webcomics.yaoi911.com/*</Include>
		<Include>http://www.whompcomic.com/*</Include>
		<Include>http://actiontimebuddies.com/*</Include>
		<Include>http://www.superbrophybrothers.com/*</Include>
		<Include>http://www.surasplace.com/*</Include>
		<Include>http://surasplace.com/*</Include>
		<Include>http://mangacow.me/*</Include>
		<Include>http://fallensyndicate.com/reader/*</Include>
		<Include>http://www.nekothekitty.net/*</Include>
		<Include>http://curtailedcomic.com/*</Include>
		<Include>http://www.wiemanga.com/*</Include>
		<Include>http://img.wiemanga.com/*</Include>
		<Include>http://hentai4manga.com/*</Include>
		<Include>http://bradcolbow.com/*</Include>
		<Include>http://www.gaomanga.com/*</Include>
		<Include>http://www.theherobiz.com/*</Include>
		<Include>http://guildedage.net/comic/*</Include>
		<Include>http://betweenfailures.com/*</Include>
		<Include>http://www.claudeandmonet.com/*</Include>
		<Include>http://phobia.subcultura.es/tira/*</Include>
		<Include>http://www.manga-tu.be/*</Include>
		<Include>http://de.ninemanga.com/*</Include>
		<Include>http://proxer.me/*</Include>
		<Include>http://www.demanga.com/*</Include>
		<Include>http://www.meinmanga.com/*</Include>
		<Include>http://www.senmanga.com/*</Include>
		<Include>http://raw.senmanga.com/*</Include>
		<Include>http://www.mangaesta.net/*</Include>
		<Include>http://www.mabuns.web.id/*</Include>
		<Include>http://www.manga4indo.com/*</Include>
		<Include>http://www.bloomingfaeries.com/*</Include>
		<UserExclude>http://www.reddit.com/*</UserExclude>
	</Script>
</UserScriptConfig>