<UserScriptConfig>
	<Script basedir="UC_Berkeley_Schedule_Enhancer_(UCBSE)" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Enhances the look and feel of the UC Berkeley schedule making it easier to read and search for classes." enabled="true" filename="105611.user.js" installTime="1367656207742" modified="1367656207000" name="UC Berkeley Schedule Enhancer (UCBSE)" namespace="http://osoc.berkeley.edu/OSOC/" runAt="document-end" uuid="f641e3ec-b04d-43b2-92cc-4bf150173144" version="null" installurl="http://userscripts.org/scripts/source/105611.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/105611.meta.js">
		<Grant>GM_addStyle</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_log</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>http://osoc.berkeley.edu/OSOC/*</Include>
	</Script>
	<Script basedir="MAL_tags" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Temporary (or not?) userscript for custom tags feature in MAL lists" enabled="true" filename="150384.user.js" installTime="1367656242765" modified="1367656242000" name="MAL tags" namespace="http://myanimelist.net" runAt="document-end" uuid="71af14f5-25b7-4a52-9ca5-d67983041328" version="2.0" installurl="https://userscripts.org/scripts/source/150384.user.js" updateurl="http://userscripts.org/scripts/source/150384.meta.js">
		<Grant>none</Grant>
		<Include>http://myanimelist.net/animelist/*</Include>
		<Include>http://myanimelist.net/mangalist/*</Include>
	</Script>
	<Script basedir="Wikipedia_TeX_Source_Extractor" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Allows you to extract the TeX source from an image of a formula on Wikipedia. Just click on the desired formula and you're good to go." enabled="true" filename="121713.user.js" installTime="1367656284938" modified="1367656284000" name="Wikipedia TeX Source Extractor" namespace="http://giu.me" runAt="document-end" uuid="deca2eee-9f82-4e73-a2da-098694140219" version="1.0" installurl="http://userscripts.org/scripts/source/121713.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/121713.meta.js">
		<Grant>none</Grant>
		<Include>*.wikipedia.org/w*</Include>
		<Include>*.wikibooks.org/w*</Include>
	</Script>
	<Script basedir="4chan_X" checkRemoteUpdates="1" dependhash="f1749cc5da0817fbaad8431c9b2aa4bedfd17e21" description="Cross-browser extension for productive lurking on 4chan." enabled="true" filename="4chan-X.user.js" installTime="1368655610000" modified="1368655610000" name="4chan X" namespace="4chan-X" runAt="document-start" uuid="dd442f7a-40a9-4763-a34c-df763eae87b5" version="3.4.2" installurl="https://4chan-x.just-believe.in/builds/4chan-X.user.js" updateurl="https://4chan-x.just-believe.in/builds/4chan-X.meta.js" icon="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAACVBMVEUAAGcAAABmzDNZt9VtAAAAAXRSTlMAQObYZgAAAHFJREFUKFOt0LENACEIBdBv4Qju4wgWanEj3D6OcIVMKaitYHEU/jwTCQj8W75kiVCSBvdQ5/AvfVHBin11BgdRq3ysBgfwBDRrj3MCIA+oAQaku/Q1cNctrAmyDl577tOThYt/Y1RBM4DgOHzM0HFTAyLukH/cmRnqAAAAAElFTkSuQmCC">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_openInTab</Grant>
		<Match>*://api.4chan.org/*</Match>
		<Match>*://boards.4chan.org/*</Match>
		<Match>*://images.4chan.org/*</Match>
		<Match>*://sys.4chan.org/*</Match>
	</Script>
	<Script basedir="4chan_x" checkRemoteUpdates="1" dependhash="de4ca77d72f0a4de2229e149b7ba2844ff21f12a" description="Adds various features." enabled="false" filename="4chan_x.user.js" installTime="1368656290035" modified="1368656290000" name="4chan x" namespace="aeosynth" runAt="document-start" uuid="17b48515-13d1-4da7-b758-2eed1e0dce8c" version="1.0.3" installurl="https://github.com/that4chanwolf/4chan-x/raw/stable/4chan_x.user.js" updateurl="https://github.com/that4chanwolf/4chan-x/raw/stable/4chan_x.user.js" icon="data:image/gif;base64,R0lGODlhEAAQAKECAAAAAGbMM////////yH5BAEKAAIALAAAAAAQABAAAAIxlI+pq+D9DAgUoFkPDlbs7lGiI2bSVnKglnJMOL6omczxVZK3dH/41AG6Lh7i6qUoAAA7">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_openInTab</Grant>
		<Match>*://boards.4chan.org/*</Match>
		<Match>*://images.4chan.org/*</Match>
		<Match>*://sys.4chan.org/*</Match>
	</Script>
</UserScriptConfig>