SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/home/dvt/bin/udev-power-supply"
SUBSYSTEM=="power_supply", ATTR{status}=="Charging", RUN+="/home/dvt/bin/udev-power-supply"
